<%%= form_for(@<%= singular_name %>) do |f| %>
  <div class="fields">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="actions">
    <%%= f.submit :submit %>
  </div>
<%% end %>
